<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" th:replace="layout :: layout(title=~{::title}, links=~{}, header_scripts=~{}, page_header=~{:: #page-header}, content=~{::content}, footer_scripts=~{})">
<head>
    <meta charset="UTF-8">
    <title th:text="#{drivers.list}">Drivers List</title>

    <!--Link only used in prototype mode-->
    <link rel="stylesheet" href="../../../static/vendor/material-icons/css/material-icons.css">
    <link rel="stylesheet" href="../../../static/vendor/bootstrap/css/bootstrap.min.css" />
</head>
<body>
    <div class="container">
        <h2><span id="page-header" data-template="driver-list" th:text="#{drivers}">Drivers</span></h2>
        <!--/*@thymesVar id="driverModels" type="org.springframework.data.domain.Page<com.kft.oms.model.DriverModel>"*/-->
        <!--/*@thymesVar id="searchResult" type="java.lang.Boolean"*/-->
        <!--/* If the page has searchResult = true then driverModels is List<> else it is Page<> */-->
        <div th:fragment="content">

            <form action="#" th:action="@{/drivers}" method="get">
                <div class="form-group row">
                    <label for="driversLicense" class="col-sm-2 col-form-label" th:text="#{drivers.license}">Driver's License</label>
                    <div class="col-sm-8">
                        <input class="form-control" id="driversLicense" name="licenseNo" th:name="licenseNo" placeholder="License No" th:placeholder="#{license.no}" th:value="${#request.getParameter('licenseNo')}">
                    </div>
                    <div class="col-sm-2 ">
                        <button type="submit" class="btn btn-outline-primary">Search</button>
                    </div>
                </div>
            </form>

            <div th:if="${not driverModels.isEmpty()}">
                <table class="table">
                    <thead>
                        <tr>
                            <th th:text="#{driver.name}">Name</th>
                            <th th:text="#{license.no}">License No</th>
                            <th th:text="#{history}">History</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="driverModel : ${driverModels}">
                            <td th:text="${driverModel.getFullName()}">Full Name</td>
                            <td th:text="${driverModel.licenseNo}">License No</td>
                            <td>
                                <a href="../../offender/offence-list.html" th:href="${'/oms/offender/' + driverModel.id}"><i class="material-icons">history</i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <nav aria-label="Pagination">
                            <ul class="pagination justify-content-center" th:if="${driverModels.getTotalPages()>1}">
                                <li class="page-item" th:each="pageNumber : ${#numbers.sequence(1,__${driverModels.getTotalPages()}__)}" >
                                    <a class="page-link" th:href="@{/driver/list(page=${pageNumber - 1})}" th:text="${pageNumber}">1</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
            <div th:if="${searchResult == true and driverModels.isEmpty()}">
                <h5> No Driver not found! </h5>
            </div>
            <div th:if="${searchResult != true}">
                <div th:if="${driverModels.isEmpty() && driverModels.pageable.pageNumber == 0 }">
                    <h4 th:text="#{no.registered.offence.message}">No Offences Registered</h4>
                    <p><span th:text="#{add.offence.message}">To add offences </span> <a href="../../offence/form.html" th:href="@{/offence/create}" th:text="#{click.here}">click here</a>.</p>
                </div>
                <div th:if="${driverModels.isEmpty() && driverModels.pageable.pageNumber != 0 }">
                    <h5>This Page Contains No Drivers</h5>
                    <p>To view registered drivers go to <a th:href="@{/driver/list}">first page</a>!</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>