<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Offence Form</title>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/4.1.3/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.3.1-1/jquery.min.js"
            th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>

    <link href="../../static/css/offence-form.css"
          th:href="@{/css/offence-form.css}" rel="stylesheet" media="screen">

</head>
<body>
<!--/*@thymesVar id="offenceModel" type="com.kft.oms.model.OffenceModel"*/-->
    <div class="container">
        <h2>Offence Details</h2>
        <div>
            <!--Requires use of a model that is different from the domain object-->
            <!--Done: add a model object to be received from and passed to controller -->
            <form id="regForm" th:object="${offenceModel}" th:action="@{/offence/create}" method="post">

                <input type="hidden" th:field="*{id}">

                <!--Vehicle Detail-->
                <div class="tab">Vehicle Detail
                    <input type="hidden" th:field="*{vehicleModel.id}">
                    <!--Vehicle Type-->
                    <p><input placeholder="Vehicle Type" th:field="*{vehicleModel.type}"></p>

                    <!--Vehicle Instance Type (Using Radio Buttons)-->
                        <!--If Cargo Vehicle then the load else if PublicTransport then seat number or None-->

                    <!--Vehicle Plate-->
                        <!--Country-->
                        <!--Region-->
                        <!--Code-->
                        <!--Plate No-->
                    <p><input placeholder="Plate No" th:field="*{vehicleModel.plateNo}"></p>

                    <!--Vehicle Owner Detail-->
                    <div>Vehicle Owner
                        <!--<div th:if="${#lists.size(vehicleModel.owners) == 1 }">-->
                        <input type="hidden" th:field="*{vehicleModel.owner.id}">
                            <p><input id="fName" placeholder="First Name" th:field="*{vehicleModel.owner.firstName}"></p>
                            <p><input id="mName" placeholder="Middle Name" th:field="*{vehicleModel.owner.middleName}"></p>
                            <p><input id="lName" placeholder="Last Name" th:field="*{vehicleModel.owner.lastName}"></p>
                        <!--</div>-->
                    </div>

                    <!--Association Detail-->
                    <div>
                        <input type="hidden" th:field="*{vehicleModel.associationModel.id}">
                        <p><input placeholder="Association" th:field="*{vehicleModel.associationModel.name}"></p>
                    </div>

                    <!--Side No-->
                    <p><input type="number" placeholder="Side No" th:field="*{vehicleModel.sideNo}"></p>
                </div>

                <!--Dispatch Detail-->
                <div class="tab">Dispatch Detail
                    <!--Dispatch No-->
                    <p><input placeholder="Dispatch Number" th:field="*{dispatchNo}"></p>

                    <!--Tariff which is no included in domain-->

                    <!--Route Start and End-->

                </div>

                <!--Driver's Detail-->
                <div class="tab">Driver Detail
                    <input type="hidden" th:field="*{driverModel.id}">
                    <!--Driver's Name-->
                    <p><input placeholder="First Name" th:field="*{driverModel.firstName}"></p>
                    <p><input placeholder="Middle Name" th:field="*{driverModel.middleName}"></p>
                    <p><input placeholder="Last Name" th:field="*{driverModel.lastName}"></p>

                    <!--Driver's License No and Type-->
                    <p><input th:type="number" placeholder="License No" th:field="*{driverModel.licenseNo}"></p>
                    <p><label>License Type
                        <select th:field="*{driverModel.licenseType}">
                            <!--/*@thymesVar id="licenseType" type="com.kft.oms.constants.LicenseType"*/-->
                            <option th:each="licenseType : ${T(com.kft.oms.constants.LicenseType).values()}"
                                    th:value="${licenseType.name()}"
                                    th:text="${licenseType.name()}">
                                val
                            </option>
                        </select>
                    </label></p>
                </div>

                <!--OffenceModel Detail-->
                <div class="tab">Offence Detail
                    <!--OffenceModel Date and Time-->
                    <p><input type="date" placeholder="Date" th:field="*{date}"></p>
                    <p th:if="${#fields.hasErrors('date')}" th:errors="*{date}">Date Error</p>
                    <p><input type="time" placeholder="Time" th:field="*{time}"></p>
                    <p th:if="${#fields.hasErrors('time')}" th:errors="*{time}">Time Error</p>
                    <!--OffenceModel Location-->
                    <p><input placeholder="Location" th:field="*{location}"></p>
                    <p th:if="${#fields.hasErrors('location')}" th:errors="*{location}">Location Error</p>
                    <!--OffenceModel Description-->
                    <p><input placeholder="Description" th:field="*{description}"></p>
                    <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description Error</p>

                    <!--Proof Documents Taken (Using Checkbox and Value Field)-->

                    <!--Reporting Location-->
                    <p><input placeholder="Reporting Location" th:field="*{reportingLocation}"></p>
                    <p th:if="${#fields.hasErrors('reportingLocation')}" th:errors="*{reportingLocation}">Reporting Location Error</p>
                    <!--Action Taken by (Not included in domain)-->

                    <!--OffenceCodeModels-->
                    <table>
                        <thead>
                        <tr>
                            <th>Offence Code ID</th>
                            <th><button type="submit" name="addOffenceCodeModel" th:text="|Add Offence Code|">Add Offence Code</button></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="offenceCodeModel,OCMStat : *{offenceCodeModels}">
                            <td>
                                <input placeholder="Code" th:field="*{offenceCodeModels[__${OCMStat.index}__].id}">
                            </td>
                            <td>
                                <button type="submit" name="removeOffenceCodeModel" th:value="${OCMStat.index}"
                                        th:text="|Remove Offence Code|">Remove Offence Code</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>

                <!--Supervisor Detail-->
                <div class="tab">Supervisor Detail
                    <input type="hidden" th:field="*{supervisor.id}">
                    <!--Full Name-->
                    <p><input placeholder="First Name" th:field="*{supervisor.firstName}"></p>
                    <p><input placeholder="Middle Name" th:field="*{supervisor.middleName}"></p>
                    <p><input placeholder="Last Name" th:field="*{supervisor.lastName}"></p>

                </div>

                <div style="overflow:auto;">
                    <div style="float:right;">
                        <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
                        <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
                    </div>
                </div>
                <!-- Circles which indicates the steps of the form: -->
                <div style="text-align:center;margin-top:40px;">
                    <span class="step"></span>
                    <span class="step"></span>
                    <span class="step"></span>
                    <span class="step"></span>
                    <span class="step"></span>
                </div>

            </form>
        </div>
    </div>

    <!--Script Must be loaded at last-->
    <script src="../../static/js/offence-form.js"
            th:src="@{/js/offence-form.js}"></script>
</body>
</html>