<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Offence Form</title>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/4.1.3/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.3.1-1/jquery.min.js"
            th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>

<!--    <link href=""
          th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.css}" rel="stylesheet">-->
    <!--<link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-bootstrap/0.5pre/css/custom-theme/jquery-ui-1.10.0.custom.css" rel="stylesheet"/>-->
    <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js"
            th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>

    <link href="../../static/css/offence-form.css"
          th:href="@{/css/offence-form.css}" rel="stylesheet" media="screen">

    <link href="../../static/css/autocomplete.css"
          th:href="@{/css/autocomplete.css}" rel="stylesheet" media="screen">

</head>
<body>
<!--/*@thymesVar id="offenceModel" type="com.kft.oms.model.OffenceModel"*/-->
    <div class="container">
        <h2>Offence Details</h2>
        <div>
            <!--Requires use of a model that is different from the domain object-->
            <!--Done: add a model object to be received from and passed to controller -->
            <form id="regForm" th:object="${offenceModel}" th:action="@{/offence/create}" method="post">

                <input type="hidden" th:field="*{id}">

                <!--Vehicle Detail-->
                <div class="tab">Vehicle Detail
                    <input type="hidden" id="vehicle-id" th:field="*{vehicleModel.id}">
                    <!--Vehicle Type-->
                    <p><input id="vehicle-type" placeholder="Vehicle Type" th:field="*{vehicleModel.type}"></p>

                    <!--Vehicle Instance Type (Using Radio Buttons)-->
                        <!--If Cargo Vehicle then the load else if PublicTransport then seat number or None-->

                    <!--Vehicle Plate-->
                        <!--Country-->
                        <!--Region-->
                        <!--Code-->
                        <!--Plate No-->

                    <div class="form-group ui-widget">
                        <input id="vehicle-plate-no" placeholder="Plate No" class="form-control autocomplete" th:field="*{vehicleModel.plateNo}">
                    </div>

                    <p th:if="${#fields.hasErrors('vehicleModel.plateNo')}" th:errors="*{vehicleModel.plateNo}">Plate No Error</p>
                    <!--/*Todo: Fix plate no pattern validation error message*/-->

                    <!--Vehicle Owner Detail-->
                    <div>Vehicle Owner
                        <!--<div th:if="${#lists.size(vehicleModel.owners) == 1 }">-->
                        <input type="hidden" th:field="*{vehicleModel.owner.id}">
                            <p><input id="vo-fName" placeholder="First Name" th:field="*{vehicleModel.owner.firstName}"></p>
                            <p><input id="vo-mName" placeholder="Middle Name" th:field="*{vehicleModel.owner.middleName}"></p>
                            <p><input id="vo-lName" placeholder="Last Name" th:field="*{vehicleModel.owner.lastName}"></p>
                        <!--</div>-->
                    </div>

                    <!--Association Detail-->
                    <div>
                        <input type="hidden" id="vehicle-association-id" th:field="*{vehicleModel.associationModel.id}">
                        <p><input id="vehicle-association-name" placeholder="Association" th:field="*{vehicleModel.associationModel.name}"></p>
                    </div>

                    <!--Side No-->
                    <p><input id="vehicle-side-no" type="number" placeholder="Side No" th:field="*{vehicleModel.sideNo}"></p>
                </div>

                <!--Dispatch Detail-->
                <div class="tab">Dispatch Detail
                    <!--Dispatch No-->
                    <p><input placeholder="Dispatch Number" th:field="*{dispatchNo}"></p>

                    <!--Tariff which is no included in domain-->

                    <!--Route Start and End-->

                </div>

                <!--Driver's Detail-->
                <div class="tab">Driver Detail
                    <input id="driver-id" type="hidden" th:field="*{driverModel.id}">
                    <!--Driver's Name-->
                    <p><input id="driver-fn" placeholder="First Name" th:field="*{driverModel.firstName}"></p>
                    <p th:if="${#fields.hasErrors('driverModel.firstName')}" th:errors="*{driverModel.firstName}">Driver First Name Error</p>
                    <p><input id="driver-mn" placeholder="Middle Name" th:field="*{driverModel.middleName}"></p>
                    <p th:if="${#fields.hasErrors('driverModel.middleName')}" th:errors="*{driverModel.middleName}">Driver Middle Name Error</p>
                    <p><input id="driver-ln" placeholder="Last Name" th:field="*{driverModel.lastName}"></p>
                    <p th:if="${#fields.hasErrors('driverModel.lastName')}" th:errors="*{driverModel.lastName}">Driver Last Name Error</p>

                    <!--Driver's License No and Type-->
                    <p><input id="driver-license-no" th:type="number" placeholder="License No" th:field="*{driverModel.licenseNo}"></p>
                    <p th:if="${#fields.hasErrors('driverModel.licenseNo')}" th:errors="*{driverModel.licenseNo}">Driver License No Error</p>
                    <p><label>License Type
                        <select id="driver-license-type" th:field="*{driverModel.licenseType}">
                            <!--/*@thymesVar id="licenseType" type="com.kft.oms.constants.LicenseType"*/-->
                            <option th:each="licenseType : ${T(com.kft.oms.constants.LicenseType).values()}"
                                    th:value="${licenseType.name()}"
                                    th:text="${licenseType.name()}">
                                val
                            </option>
                        </select>
                    </label></p>
                </div>

                <!--OffenceModel Detail-->
                <div class="tab">Offence Detail
                    <!--OffenceModel Date and Time-->
                    <p><input type="date" placeholder="Date" th:field="*{date}"></p>
                    <p th:if="${#fields.hasErrors('date')}" th:errors="*{date}">Date Error</p>
                    <p><input type="time" placeholder="Time" th:field="*{time}"></p>
                    <p th:if="${#fields.hasErrors('time')}" th:errors="*{time}">Time Error</p>
                    <!--OffenceModel Location-->
                    <p><input placeholder="Location" th:field="*{location}"></p>
                    <p th:if="${#fields.hasErrors('location')}" th:errors="*{location}">Location Error</p>
                    <!--OffenceModel Description-->
                    <p><input placeholder="Description" th:field="*{description}"></p>
                    <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description Error</p>

                    <!--Proof Documents Taken (Using Checkbox and Value Field)-->

                    <!--Reporting Location-->
                    <p><input placeholder="Reporting Location" th:field="*{reportingLocation}"></p>
                    <p th:if="${#fields.hasErrors('reportingLocation')}" th:errors="*{reportingLocation}">Reporting Location Error</p>
                    <!--Action Taken by (Not included in domain)-->

                    <!--OffenceCodeModels-->
                    <table>
                        <thead>
                        <tr>
                            <th></th>
                            <th>Offence Code</th>
                            <th>Description</th>
                            <th><button type="submit" name="addOffenceCodeModel" th:text="|Add Offence Code|">Add Offence Code</button></th>
                        </tr>
                        </thead>
                        <tbody id="offence-codes-body">
                        <tr th:each="offenceCodeModel,OCMStat : *{offenceCodeModels}">
                             <!--done: get full code and description to be retained after each visit to server including when adding code and when editing  -->
                             <!--todo: pressing enter after typing full code but not after selection causes for to be submitted to add offence code fix it-->
                            <td>
                                <input type="hidden" th:field="*{offenceCodeModels[__${OCMStat.index}__].id}">
                                <input type="hidden" th:field="*{offenceCodeModels[__${OCMStat.index}__].sectionHeaderLabel}">
                                <input type="hidden" th:field="*{offenceCodeModels[__${OCMStat.index}__].level}">
                                <input type="hidden" th:field="*{offenceCodeModels[__${OCMStat.index}__].penaltyAmount}">
                                <input type="hidden" th:field="*{offenceCodeModels[__${OCMStat.index}__].numberLabel}">
                                <input type="hidden" th:field="*{offenceCodeModels[__${OCMStat.index}__].offenderType}">
                            </td>
                            <td>
                                <input placeholder="Full Code">
                            </td>
                            <td>
                                <input placeholder="Description" readonly="readonly" th:field="*{offenceCodeModels[__${OCMStat.index}__].description}">
                            </td>
                            <td>
                                <button th:if="${OCMStat.size > 1}" type="submit" name="removeOffenceCodeModel" th:value="${OCMStat.index}"
                                        th:text="|Remove Offence Code|">Remove Offence Code</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>

                <!--Supervisor Detail-->
                <div class="tab">Supervisor Detail
                    <input type="hidden" th:field="*{supervisor.id}">
                    <!--Full Name-->
                    <p><input placeholder="First Name" th:field="*{supervisor.firstName}"></p>
                    <p th:if="${#fields.hasErrors('supervisor.firstName')}" th:errors="*{supervisor.firstName}">Supervisor First Name Error</p>
                    <p><input placeholder="Middle Name" th:field="*{supervisor.middleName}"></p>
                    <p th:if="${#fields.hasErrors('supervisor.middleName')}" th:errors="*{supervisor.middleName}">Supervisor Middle Name Error</p>
                    <p><input placeholder="Last Name" th:field="*{supervisor.lastName}"></p>
                    <p th:if="${#fields.hasErrors('supervisor.lastName')}" th:errors="*{supervisor.lastName}">Supervisor Last Name Error</p>

                </div>

                <div style="overflow:auto;">
                    <div style="float:right;">
                        <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
                        <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
                    </div>
                </div>
                <!-- Circles which indicates the steps of the form: -->
                <div style="text-align:center;margin-top:40px;">
                    <span class="step"></span>
                    <span class="step"></span>
                    <span class="step"></span>
                    <span class="step"></span>
                    <span class="step"></span>
                </div>

            </form>
        </div>
    </div>

    <!--Script Must be loaded at last-->
    <script src="../../static/js/offence-form.js"
            th:src="@{/js/offence-form.js}"></script>

    <script>
        var getVehiclesByPlateNo = function (request, response) {
            $.getJSON(
                "/oms/vehicle?plateNo=" + request.term,
                function (data) {
                    response(data);
                });
        };

        function populateVehicleInput(data){
            $( "#vehicle-id" ).val( data["id"] );
            $( "#vehicle-type" ).val( data["type"] );
            $( "#vehicle-plate-no" ).val( data["plateNo"] );
            $( "#vo-fName" ).val( data["owner"]["firstName"] );
            $( "#vo-mName" ).val( data["owner"]["middleName"] );
            $( "#vo-lName" ).val( data["owner"]["lastName"] );
            $( "#vehicle-association-id" ).val( data["associationModel"]["id"] );
            $( "#vehicle-association-name" ).val( data["associationModel"]["name"] );
            $( "#vehicle-side-no" ).val( data["sideNo"] );
        }

        function selectVehicle(event, ui) {
            $.getJSON(
                "/oms/vehicle/plate/" + ui.item.value,
                function (data) {
                   populateVehicleInput(data);
                }
            )
        }

        $("#vehicle-plate-no").autocomplete({
            source :  getVehiclesByPlateNo,
            minLength :3,
            select : selectVehicle
        });

        function populateDriverInput(driver){
            if(driver !== null) {
                $("#driver-id").val(driver["id"]);
                $("#driver-fn").val(driver["firstName"]);
                $("#driver-mn").val(driver["middleName"]);
                $("#driver-ln").val(driver["lastName"]);
                $("#driver-license-type").val(driver["licenseType"]);
            }
        }

        function getDriverByLicenseNo(licenseNo){
            //alert("getting driver with license no " +licenseNo );
            $.getJSON(
                "/oms/driver/" + licenseNo,
                function (data) {
                    populateDriverInput(data);
                }
            )
        }

        $("#driver-license-no").on("blur", function(){
            getDriverByLicenseNo($(this).val());
        });

        function getOffenceCodesList(request,response){
            var offenceCode = request.term;
            var offenceCodeParts = offenceCode.split(' ', 4);
            var sectionHeaderLabel = offenceCodeParts[0];
            var level = offenceCodeParts[1];
            var penaltyAmount = (offenceCodeParts[2] === undefined)? '' : offenceCodeParts[2];

            var url = "/oms/offence-code?sectionHeaderLabel=" + sectionHeaderLabel +
                "&level=" + level + "&penaltyAmount=" + penaltyAmount;
            //alert("getting data from url : " + url);
            $.getJSON(
                url,
                function (data) {
                    response(data);
                }
            );
        }

        function populateOffenceCodeData(event,data){
            var offenceCodeInputColumnTd = $(event.target).parent();

            var offenceCodeHiddenColumnTd = offenceCodeInputColumnTd.prev();
            offenceCodeHiddenColumnTd.children("input:nth-child(1)").val(data["id"]);
            offenceCodeHiddenColumnTd.children("input:nth-child(2)").val(data["sectionHeaderLabel"]);
            offenceCodeHiddenColumnTd.children("input:nth-child(3)").val(data["level"]);
            offenceCodeHiddenColumnTd.children("input:nth-child(4)").val(data["penaltyAmount"]);
            offenceCodeHiddenColumnTd.children("input:nth-child(5)").val(data["numberLabel"]);
            offenceCodeHiddenColumnTd.children("input:nth-child(6)").val(data["offenderType"]);

            offenceCodeInputColumnTd.next().children("input:nth-child(1)").val(data["description"]);
        }

        function getOffenceCode(event, ui) {
            var fullyQualifiedOffenceCode = ui.item.value;
            var offenceCodeParts =fullyQualifiedOffenceCode.split(' ', 4);
            var sectionHeaderLabel = offenceCodeParts[0];
            var level = offenceCodeParts[1];
            var penaltyAmount = offenceCodeParts[2];
            var numberLabel = offenceCodeParts[3];

            var url = "/oms/offence-code/get?sectionHeaderLabel=" + sectionHeaderLabel +
                      "&level=" + level + "&penaltyAmount=" + penaltyAmount +
                      "&numberLabel=" + numberLabel;
            //alert("getting data from url : " + url);
            $.getJSON(
                url,
                function (data) {
                    //set the id and also good for client side checks to see all offence codes
                    //have same offenderType and sectionHeaderLabel
                    populateOffenceCodeData(event, data);
                }
            )
        }

        var offenceCodeInputs = $("#offence-codes-body").find("tr td:nth-child(2)").children("input");

        offenceCodeInputs.autocomplete({
            source :  getOffenceCodesList,
            minLength :6,
            select : getOffenceCode
        });

        function loadQualifiedName() {
            offenceCodeInputs.each(function () {
                var offenceCodeIdInput = $(this).parent().prev().children("input:nth-child(1)");
                if(offenceCodeIdInput.val() !== null && offenceCodeIdInput.val() !== undefined && offenceCodeIdInput.val() !== ''){
                    var offenceCodeSectionHeaderLabelInput = offenceCodeIdInput.next();
                    var offenceCodeLevelInput = offenceCodeSectionHeaderLabelInput.next();
                    var offenceCodePenaltyAmount = offenceCodeLevelInput.next();
                    var offenceCodeNumberLabel = offenceCodePenaltyAmount.next();

                    var fullQualifiedOffenceCodeName =  offenceCodeSectionHeaderLabelInput.val() + ' ' +
                        offenceCodeLevelInput.val() + ' ' +
                        offenceCodePenaltyAmount.val() + ' ' +
                        offenceCodeNumberLabel.val();
                    $(this).val(fullQualifiedOffenceCodeName);
                }
            });
        }

        $(document).ready(function(){
            loadQualifiedName();
        });


    </script>

</body>
</html>