<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" th:replace="layout :: layout(title=~{::title}, links=~{::links}, header_scripts=~{}, page_header=~{:: #page-header}, content=~{::content}, footer_scripts=~{::footer_scripts})">
<head>
    <meta charset="UTF-8">
    <title th:text="#{offence.form}">Offence Form</title>

    <!--Link only used in prototype mode-->
    <link rel="stylesheet" href="../../static/vendor/bootstrap/css/bootstrap.min.css" />

    <th:block th:fragment="links">
        <link href="../../static/css/offence-form.css" th:href="@{/css/offence-form.css}" rel="stylesheet" media="screen">
        <link href="../../static/css/autocomplete.css" th:href="@{/css/autocomplete.css}" rel="stylesheet" media="screen">
    </th:block>
</head>
<body>
    <!--/*@thymesVar id="offenceModel" type="com.kft.oms.model.OffenceModel"*/-->
    <div class="container">
        <h3><span id="page-header" data-template="offence-form" th:text="#{offence.details}">Offence Details</span></h3>
        <div th:fragment="content">
            <form id="regForm" th:object="${offenceModel}" th:action="@{/offence/create}" method="post">

                <input type="hidden" th:field="*{id}">

                <!--Vehicle Detail-->
                <div class="tab">
                    <span th:text="#{vehicle.detail}">Vehicle Detail</span>
                    <input type="hidden" id="vehicle-id" th:field="*{vehicleModel.id}">

                    <!--Vehicle Plate-->
                    <div class="form-group ui-widget">
                        <label for="vehicle-plate-no" th:text="#{plate.no}">Plate No</label>
                        <input id="vehicle-plate-no" placeholder="Plate No" th:placeholder="#{plate.no}" class="form-control autocomplete" th:field="*{vehicleModel.plateNo}" onkeyup="vehiclePlateNoKeyUp()" required>
                        <p th:if="${#fields.hasErrors('vehicleModel.plateNo')}" th:text="#{error.vehicle.plateNo.regexp}">Plate No Error</p>
                    </div>

                    <!--Vehicle Type-->
                    <div class="form-group">
                        <label for="vehicle-type" class="control-label" th:text="#{vehicle.type}">Vehicle Type</label>
                        <input id="vehicle-type" class="form-control" placeholder="Vehicle Type" th:field="*{vehicleModel.type}" th:placeholder="#{vehicle.type}">
                    </div>

                    <!--Vehicle Instance Type (Using Radio Buttons)-->
                        <!--If Cargo Vehicle then the load else if PublicTransport then seat number or None-->

                    <!--Vehicle Owner Detail-->
                    <div>
                        <span th:text="#{vehicle.owner}">Vehicle Owner</span>
                        <!--<div th:if="${#lists.size([__*{vehicleModel.vehicleOwnershipModels}__]) == 0 }">-->
                            <input type="hidden" th:field="*{vehicleModel.vehicleOwnershipModels[0].id}">
                            <div class="form-group">
                                <label for="vo-libreNo" class="control-label" th:text="#{libre.No}">Libre No</label>
                                <input id="vo-libreNo" class="form-control" placeholder="Libre No" th:placeholder="#{libre.No}" th:field="*{vehicleModel.vehicleOwnershipModels[0].libreNo}" required maxlength="20">
                            </div>
                            <div class="form-group">
                                <label for="vo-fName" class="control-label" th:text="#{first.name}">First Name</label>
                                <input id="vo-fName" class="form-control" placeholder="First Name" th:placeholder="#{first.name}" th:field="*{vehicleModel.vehicleOwnershipModels[0].personModelOwners[0].firstName}" required maxlength="30">
                                <p th:if="${#fields.hasErrors('vehicleModel.vehicleOwnershipModels[0].personModelOwners[0].firstName')}" th:errors="*{vehicleModel.vehicleOwnershipModels[0].personModelOwners[0].firstName}">Vehicle Owner First Name Error</p>
                            </div>
                            <div class="form-group">
                                <label for="vo-mName" class="control-label" th:text="#{middle.name}">Middle Name</label>
                                <input id="vo-mName" class="form-control" placeholder="Middle Name" th:placeholder="#{middle.name}" th:field="*{vehicleModel.vehicleOwnershipModels[0].personModelOwners[0].middleName}" required maxlength="30">
                                <p th:if="${#fields.hasErrors('vehicleModel.vehicleOwnershipModels[0].personModelOwners[0].middleName')}" th:errors="*{vehicleModel.vehicleOwnershipModels[0].personModelOwners[0].middleName}">Vehicle Owner Middle Name Error</p>
                            </div>
                            <div class="form-group">
                                <label for="vo-lName" class="control-label" th:text="#{last.name}">Last Name</label>
                                <input id="vo-lName" class="form-control" placeholder="Last Name" th:placeholder="#{last.name}" th:field="*{vehicleModel.vehicleOwnershipModels[0].personModelOwners[0].lastName}" required maxlength="30">
                                <p th:if="${#fields.hasErrors('vehicleModel.vehicleOwnershipModels[0].personModelOwners[0].lastName')}" th:errors="*{vehicleModel.vehicleOwnershipModels[0].personModelOwners[0].lastName}">Vehicle Owner Last Name Error</p>
                            </div>
                        <!--</div>-->
                    </div>

                    <!--Association Detail-->
                    <div>
                        <input type="hidden" id="vehicle-association-id" th:field="*{vehicleModel.associationModel.id}">
                        <div class="form-group">
                            <label for="vehicle-association-name" class="control-label" th:text="#{association.name}">Association Name</label>
                            <input id="vehicle-association-name" class="form-control" placeholder="Association" th:placeholder="#{association.name}" th:field="*{vehicleModel.associationModel.name}">
                            <p th:if="${#fields.hasErrors('vehicleModel.associationModel.name')}" th:errors="*{vehicleModel.associationModel.name}">Association Name Error</p>
                        </div>
                    </div>

                    <!--Side No-->
                    <div class="form-group">
                        <label for="vehicle-side-no" class="control-label" th:text="#{side.no}">Side No</label>
                        <input id="vehicle-side-no" class="form-control" type="number" placeholder="Side No" th:placeholder="#{side.no}" th:field="*{vehicleModel.sideNo}" maxlength="5">
                    </div>
                </div>

                <!--Dispatch Detail-->
                <div class="tab">
                    <span th:text="#{dispatch.detail}">Dispatch Detail</span>
                    <!--Dispatch No-->
                    <div class="form-group">
                        <label for="dispatch-number" class="control-label" th:text="#{dispatch.no}">Dispatch Number</label>
                        <input id="dispatch-number" class="form-control" placeholder="Dispatch Number" th:placeholder="#{dispatch.no}" th:field="*{dispatchNo}" maxlength="12">
                    </div>

                    <!--Tariff which is no included in domain-->

                    <!--Route Start and End-->

                </div>

                <!--Driver's Detail-->
                <div class="tab">
                    <span th:text="#{driver.detail}">Driver Detail</span>
                    <input id="driver-id" type="hidden" th:field="*{driverModel.id}">

                    <!--Driver's License No and Type-->
                    <div class="form-group">
                        <label for="driver-license-no" th:text="#{license.no}">License No</label>
                        <input id="driver-license-no" class="form-control" th:type="number" placeholder="License No" th:placeholder="#{license.no}" th:field="*{driverModel.licenseNo}" th:readonly="${#strings.startsWith(#request.requestURI,'/oms/offence/edit/')}" required>
                        <p th:if="${#fields.hasErrors('driverModel.licenseNo')}" th:errors="*{driverModel.licenseNo}">Driver License No Error</p>
                    </div>
                    <div class="form-group">
                        <label for="driver-license-type" th:text="#{license.type}">License Type</label>
                        <select id="driver-license-type" class="form-control" th:field="*{driverModel.licenseType}" th:readonly="${#strings.startsWith(#request.requestURI,'/oms/offence/edit/')}">
                            <!--/*@thymesVar id="licenseType" type="com.kft.oms.constants.LicenseType"*/-->
                            <option th:each="licenseType : ${T(com.kft.oms.constants.LicenseType).values()}"
                                    th:value="${licenseType.name()}"
                                    th:text="${licenseType.name()}">
                                License Type
                            </option>
                        </select>
                    </div>

                    <!--Driver's Name-->
                    <div class="form-group">
                        <label for="driver-fn" th:text="#{first.name}">First Name</label>
                        <input id="driver-fn" class="form-control" placeholder="First Name" th:placeholder="#{first.name}" th:field="*{driverModel.firstName}" th:readonly="${#strings.startsWith(#request.requestURI,'/oms/offence/edit/')}" required maxlength="30">
                        <p th:if="${#fields.hasErrors('driverModel.firstName')}" th:errors="*{driverModel.firstName}">Driver First Name Error</p>
                    </div>

                    <div class="form-group">
                        <label for="driver-mn" th:text="#{middle.name}">Middle Name</label>
                        <input id="driver-mn" class="form-control" placeholder="Middle Name" th:placeholder="#{middle.name}" th:field="*{driverModel.middleName}" th:readonly="${#strings.startsWith(#request.requestURI,'/oms/offence/edit/')}" required maxlength="30">
                        <p th:if="${#fields.hasErrors('driverModel.middleName')}" th:errors="*{driverModel.middleName}">Driver Middle Name Error</p>
                    </div>
                    <div class="form-group">
                        <label for="driver-ln" th:text="#{last.name}">Last Name</label>
                        <input id="driver-ln" class="form-control" placeholder="Last Name" th:placeholder="#{last.name}" th:field="*{driverModel.lastName}" th:readonly="${#strings.startsWith(#request.requestURI,'/oms/offence/edit/')}" required maxlength="30">
                        <p th:if="${#fields.hasErrors('driverModel.lastName')}" th:errors="*{driverModel.lastName}">Driver Last Name Error</p>
                    </div>
                </div>

                <!--OffenceModel Detail-->
                <div class="tab">
                    <span th:text="#{offence.detail}">Offence Detail</span>
                    <!--OffenceModel Date and Time-->
                    <div class="form-group">
                        <label for="date"  th:text="#{date}">Date</label>
                        <input type="date" id="date" class="form-control" placeholder="Date" th:placeholder="#{date}" th:field="*{date}" required>
                        <p th:if="${#fields.hasErrors('date')}" th:errors="*{date}">Date Error</p>
                    </div>
                    <div class="form-group">
                        <label for="time" th:text="#{time}">Time</label>
                        <input type="time" id="time" class="form-control" placeholder="Time" th:placeholder="#{time}" th:field="*{time}" required>
                        <p th:if="${#fields.hasErrors('time')}" th:errors="*{time}">Time Error</p>
                    </div>
                    <!--OffenceModel Location-->
                    <div class="form-group">
                        <label for="location" th:text="#{location}">Location</label>
                        <input id="location" class="form-control" placeholder="Location" th:placeholder="#{location}" th:field="*{location}" required maxlength="200">
                        <p th:if="${#fields.hasErrors('location')}" th:errors="*{location}">Location Error</p>
                    </div>
                    <!--OffenceModel Description-->
                    <div class="form-group">
                        <label for="description" th:text="#{description}">Description</label>
                        <input id="description" class="form-control" placeholder="Description" th:placeholder="#{description}" th:field="*{description}" maxlength="255">
                        <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description Error</p>
                    </div>

                    <!--Proof Documents Taken (Using Checkbox and Value Field)-->

                    <!--Reporting Location-->
                    <div class="form-group">
                        <label for="reporting-location" th:text="#{reporting.location}">Reporting Location</label>
                        <input id="reporting-location" class="form-control" placeholder="Reporting Location" th:placeholder="#{reporting.location}" th:field="*{reportingLocation}" maxlength="200">
                        <p th:if="${#fields.hasErrors('reportingLocation')}" th:errors="*{reportingLocation}">Reporting Location Error</p>
                    </div>
                    <!--Action Taken by (Not included in domain)-->

                    <!--OffenceCodeModels-->
                    <table>
                        <thead>
                        <tr>
                            <th></th>
                            <th th:text="#{offence.code}">Offence Code</th>
                            <th th:text="#{description}">Description</th>
                            <th><button type="button" onclick="addOffenceCode()" class="btn btn-outline-light"><span class='fas fa-plus text-success'></span></button></th>
                        </tr>
                        </thead>
                        <tbody id="offence-codes-body">
                        <tr th:each="offenceCodeModel,OCMStat : *{offenceCodeModels}">
                            <td>
                                <input type="hidden" th:field="*{offenceCodeModels[__${OCMStat.index}__].id}">
                                <input type="hidden" th:field="*{offenceCodeModels[__${OCMStat.index}__].sectionHeaderLabel}">
                                <input type="hidden" th:field="*{offenceCodeModels[__${OCMStat.index}__].level}">
                                <input type="hidden" th:field="*{offenceCodeModels[__${OCMStat.index}__].penaltyAmount}">
                                <input type="hidden" th:field="*{offenceCodeModels[__${OCMStat.index}__].numberLabel}">
                                <input type="hidden" th:field="*{offenceCodeModels[__${OCMStat.index}__].offenderType}">
                            </td>
                            <td>
                                <input class="form-control" placeholder="Full Code" th:placeholder="#{full.code}">
                            </td>
                            <td>
                                <input class="form-control" placeholder="Description" th:placeholder="#{description}" readonly="readonly" th:field="*{offenceCodeModels[__${OCMStat.index}__].description}">
                            </td>
                            <td>
                                <button class="btn btn-outline-light" th:if="${OCMStat.size > 1}" type="button" onclick="removeOffenceCode(event)"><span class="fas fa-minus text-danger"></span></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>

                <!--Supervisor Detail-->
                <div class="tab">
                    <span th:text="#{supervisor.detail}">Supervisor Detail</span>
                    <input type="hidden" th:field="*{supervisor.id}">
                    <!--Full Name-->
                    <div class="form-group">
                        <label for="supervisor-fn" th:text="#{first.name}">First Name</label>
                        <input id="supervisor-fn" class="form-control" placeholder="First Name" th:placeholder="#{first.name}" th:field="*{supervisor.firstName}" maxlength="30">
                        <p th:if="${#fields.hasErrors('supervisor.firstName')}" th:errors="*{supervisor.firstName}">Supervisor First Name Error</p>
                    </div>
                    <div class="form-group">
                        <label for="supervisor-mn" th:text="#{middle.name}">Middle Name</label>
                        <input id="supervisor-mn" class="form-control" placeholder="Middle Name" th:placeholder="#{middle.name}" th:field="*{supervisor.middleName}" maxlength="30">
                        <p th:if="${#fields.hasErrors('supervisor.middleName')}" th:errors="*{supervisor.middleName}">Supervisor Middle Name Error</p>
                    </div>
                    <div class="form-group">
                        <label for="supervisor-ln" th:text="#{last.name}">Last Name</label>
                        <input id="supervisor-ln" class="form-control" placeholder="Last Name" th:placeholder="#{last.name}" th:field="*{supervisor.lastName}" maxlength="30">
                        <p th:if="${#fields.hasErrors('supervisor.lastName')}" th:errors="*{supervisor.lastName}">Supervisor Last Name Error</p>
                    </div>
                </div>

                <div style="overflow:auto;">
                    <div style="float:right;">
                        <button type="button" id="prevBtn" class="btn btn-secondary" onclick="nextPrev(-1)" th:text="#{previous}">Previous</button>
                        <button type="button" id="nextBtn" class="btn btn-primary" onclick="nextPrev(1)" th:text="#{next}">Next</button>
                    </div>
                </div>
                <!-- Circles which indicates the steps of the form: -->
                <div style="text-align:center;margin-top:40px;">
                    <span class="step"></span>
                    <span class="step"></span>
                    <span class="step"></span>
                    <span class="step"></span>
                    <span class="step"></span>
                </div>
            </form>
        </div>
    </div>

    <!--Script only used in prototype mode-->
    <script src="../../static/vendor/jquery/jquery-3.3.1.min.js"></script>
    <script src="../../static/vendor/bootstrap/js/bootstrap.bundle.js"></script>

    <th:block th:fragment="footer_scripts">
        <!--Script Must be loaded at last-->
        <script src="../../static/vendor/jquery-ui/jquery-ui.min.js" th:src="@{/vendor/jquery-ui/jquery-ui.min.js}"></script>
        <script src="../../static/vendor/mask/jquery.mask.js" th:src="@{/vendor/mask/jquery.mask.js}"></script>
        <script src="../../static/vendor/jquery-validation-1.19.0/jquery.validate.min.js" th:src="@{/vendor/jquery-validation-1.19.0/jquery.validate.min.js}"></script>
        <script src="../../static/js/offence-form.js" th:src="@{/js/offence-form.js}" th:data-next="#{next}" th:data-submit="#{submit}" th:data-full-code="#{full.code}" th:data-description="#{description}"></script>
    </th:block>
</body>
</html>