<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="layout :: layout(title=~{::title}, links=~{::links}, header_scripts=~{}, page_header=~{:: #page-header}, content=~{::content}, footer_scripts=~{::footer_scripts})">
<head>
    <meta charset="UTF-8">
    <title th:text="#{show.offence}">Show Offence</title>

    <!--Link only used in prototype mode-->
    <link rel="stylesheet" href="../../static/vendor/bootstrap/css/bootstrap.min.css" />

    <th:block th:fragment="links">
        <link href="../../static/css/offence-form.css" th:href="@{/css/offence-form.css}" rel="stylesheet" media="screen">
    </th:block>
</head>
<body>
    <div class="container">
        <h2><span id="page-header" th:text="#{offence.details}">Offence Details</span></h2>
        <!--/*@thymesVar id="offenceModel" type="com.kft.oms.model.OffenceModel"*/-->
        <div class="container" th:fragment="content">
            <div th:object="${offenceModel}">

                    <!--Vehicle Detail-->
                    <div class="tab">
                        <span th:text="#{vehicle.detail}">Vehicle Detail</span>

                        <!--Vehicle Plate-->
                        <div class="form-group ui-widget">
                            <label for="vehicle-plate-no" th:text="#{plate.no}">Plate No</label>
                            <p id="vehicle-plate-no" class="form-control" th:text="*{vehicleModel.plateNo}"></p>
                        </div>

                        <!--Vehicle Type-->
                        <div class="form-group">
                            <label for="vehicle-type" class="control-label" th:text="#{vehicle.type}">Vehicle Type</label>
                            <p id="vehicle-type" class="form-control" th:text="*{vehicleModel.type}"></p>
                        </div>

                        <!--Vehicle Instance Type-->
                        <!--If Cargo Vehicle then the load else if PublicTransport then seat number or None-->

                        <!--Vehicle Owner Detail-->
                        <div>
                            <span th:text="#{vehicle.owner}">Vehicle Owner</span>
                            <!--<div th:if="${#lists.size([__*{vehicleModel.vehicleOwnershipModels}__]) == 0 }">-->
                            <div class="form-group">
                                <label for="vo-libreNo" class="control-label" th:text="#{libre.No}">Libre No</label>
                                <p id="vo-libreNo" class="form-control" th:text="*{vehicleModel.vehicleOwnershipModels[0].libreNo}"></p>
                            </div>
                            <div class="form-group">
                                <label for="vo-fName" class="control-label" th:text="#{first.name}">First Name</label>
                                <p id="vo-fName" class="form-control" th:text="*{vehicleModel.vehicleOwnershipModels[0].personModelOwners[0].firstName}"></p>
                            </div>
                            <div class="form-group">
                                <label for="vo-mName" class="control-label" th:text="#{middle.name}">Middle Name</label>
                                <p id="vo-mName" class="form-control" th:text="*{vehicleModel.vehicleOwnershipModels[0].personModelOwners[0].middleName}"></p>
                            </div>
                            <div class="form-group">
                                <label for="vo-lName" class="control-label" th:text="#{last.name}">Last Name</label>
                                <p id="vo-lName" class="form-control" th:text="*{vehicleModel.vehicleOwnershipModels[0].personModelOwners[0].lastName}"></p>
                            </div>
                            <!--</div>-->
                        </div>

                        <!--Association Detail-->
                        <div>
                            <div class="form-group">
                                <label for="vehicle-association-name" class="control-label" th:text="#{association.name}">Association Name</label>
                                <p id="vehicle-association-name" class="form-control" th:text="*{vehicleModel.associationModel.name}"></p>
                            </div>
                        </div>

                        <!--Side No-->
                        <div class="form-group">
                            <label for="vehicle-side-no" class="control-label" th:text="#{side.no}">Side No</label>
                            <p id="vehicle-side-no" class="form-control" th:text="*{vehicleModel.sideNo}"></p>
                        </div>
                    </div>

                    <!--Dispatch Detail-->
                    <div class="tab">
                        <span th:text="#{dispatch.detail}">Dispatch Detail</span>
                        <!--Dispatch No-->
                        <div class="form-group">
                            <label for="dispatch-number" class="control-label" th:text="#{dispatch.no}">Dispatch Number</label>
                            <p id="dispatch-number" class="form-control" th:text="*{dispatchNo}"></p>
                        </div>

                        <!--Tariff which is no included in domain-->

                        <!--Route Start and End-->

                    </div>

                    <!--Driver's Detail-->
                    <div class="tab">
                        <span th:text="#{driver.detail}">Driver Detail</span>

                        <!--Driver's License No and Type-->
                        <div class="form-group">
                            <label for="driver-license-no" th:text="#{license.no}">License No</label>
                            <p id="driver-license-no" class="form-control" th:text="*{driverModel.licenseNo}"></p>
                        </div>
                        <div class="form-group">
                            <label for="driver-license-type" th:text="#{license.type}">License Type</label>
                            <p id="driver-license-type" class="form-control" th:text="*{driverModel.licenseType}"></p>
                        </div>

                        <!--Driver's Name-->
                        <div class="form-group">
                            <label for="driver-fn" th:text="#{first.name}">First Name</label>
                            <p id="driver-fn" class="form-control" th:text="*{driverModel.firstName}"></p>
                        </div>

                        <div class="form-group">
                            <label for="driver-mn" th:text="#{middle.name}">Middle Name</label>
                            <p id="driver-mn" class="form-control" th:text="*{driverModel.middleName}"></p>
                        </div>
                        <div class="form-group">
                            <label for="driver-ln" th:text="#{last.name}">Last Name</label>
                            <p id="driver-ln" class="form-control" th:text="*{driverModel.lastName}"></p>
                        </div>
                    </div>

                    <!--OffenceModel Detail-->
                    <div class="tab">
                        <span th:text="#{offence.detail}">Offence Detail</span>
                        <!--OffenceModel Date and Time-->
                        <div class="form-group">
                            <label for="date"  th:text="#{date}">Date</label>
                            <p id="date" class="form-control" th:text="*{date}"></p>
                        </div>
                        <div class="form-group">
                            <label for="time" th:text="#{time}">Time</label>
                            <p id="time" class="form-control" th:text="*{time}"></p>
                        </div>
                        <!--OffenceModel Location-->
                        <div class="form-group">
                            <label for="location" th:text="#{location}">Location</label>
                            <p id="location" class="form-control" th:text="*{location}"></p>
                        </div>
                        <!--OffenceModel Description-->
                        <div class="form-group">
                            <label for="description" th:text="#{description}">Description</label>
                            <p id="description" class="form-control" th:text="*{description}"></p>
                        </div>

                        <!--Proof Documents Taken (Using Checkbox and Value Field)-->

                        <!--Reporting Location-->
                        <div class="form-group">
                            <label for="reporting-location" th:text="#{reporting.location}">Reporting Location</label>
                            <p id="reporting-location" class="form-control" th:text="*{reportingLocation}"></p>
                        </div>
                        <!--Action Taken by (Not included in domain)-->

                        <!--OffenceCodeModels-->
                        <table class="table">
                            <thead>
                            <tr>
                                <th></th>
                                <th th:text="#{offence.code}">Offence Code</th>
                                <th th:text="#{description}">Description</th>
                                <th th:text="#{records}">Records</th>
                            </tr>
                            </thead>
                            <tbody id="offence-codes-body">
                            <tr th:each="offenceCodeModel,OCMStat : *{offenceCodeModels}">
                                <td>
                                    <p th:text="${OCMStat.count}"></p>
                                </td>
                                <td>
                                    <p th:text="${offenceCodeModel.sectionHeaderLabel + ' ' + offenceCodeModel.level + ' ' + offenceCodeModel.penaltyAmount + ' ' + offenceCodeModel.numberLabel}">Full Offence Code</p>
                                </td>
                                <td>
                                    <p th:text="${offenceCodeModel.description}">
                                </td>
                                <td>
                                    <a th:href="@{/offence/{offenceId}/code/{offenceCodeId}(offenceId=*{id},offenceCodeId=${offenceCodeModel.id})}" th:text="#{records}">View Records</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <!--Supervisor Detail-->
                    <div class="tab">
                        <span th:text="#{supervisor.detail}">Supervisor Detail</span>
                        <!--Full Name-->
                        <div class="form-group">
                            <label for="supervisor-fn" th:text="#{first.name}">First Name</label>
                            <p id="supervisor-fn" class="form-control" th:text="*{supervisor.firstName}"></p>
                        </div>
                        <div class="form-group">
                            <label for="supervisor-mn" th:text="#{middle.name}">Middle Name</label>
                            <p id="supervisor-mn" class="form-control" th:text="*{supervisor.middleName}"></p>
                        </div>
                        <div class="form-group">
                            <label for="supervisor-ln" th:text="#{last.name}">Last Name</label>
                            <p id="supervisor-ln" class="form-control" th:text="*{supervisor.lastName}"></p>
                        </div>
                    </div>

                    <!--Status and penalty-->
                    <div class="tab">
                        <div class="form-group">
                            <label for="offence-status" th:text="#{status}">Status</label>
                            <p id="offence-status" class="form-control" th:text="*{status}"></p>
                        </div>
                        <div class="form-group">
                            <label for="penalty-amount" th:text="#{penalty.amount}">Penalty Amount</label>
                            <p id="penalty-amount" class="form-control" th:text="*{penaltyAmount}"></p>
                        </div>
                    </div>

                    <div style="overflow:auto;">
                        <div style="float:right;">
                            <button type="button" id="prevBtn" class="btn btn-secondary" onclick="nextPrev(-1)" th:text="#{previous}">Previous</button>
                            <button type="button" id="nextBtn" class="btn btn-primary" onclick="nextPrev(1)" th:text="#{next}">Next</button>
                        </div>
                    </div>
                    <!-- Circles which indicates the steps of the form: -->
                    <div style="text-align:center;margin-top:40px;">
                        <span class="step" data-step="0"></span>
                        <span class="step" data-step="1"></span>
                        <span class="step" data-step="2"></span>
                        <span class="step" data-step="3"></span>
                        <span class="step" data-step="4"></span>
                        <span class="step" data-step="5"></span>
                    </div>
                </div>
        </div>
    </div>

    <!--Script only used in prototype mode-->
    <script src="../../static/vendor/jquery/jquery-3.3.1.min.js"></script>

    <th:block th:fragment="footer_scripts">
        <script src="../../static/js/offence-show.js" th:src="@{/js/offence-show.js}" th:data-next="#{next}" th:data-done="#{done}"></script>
    </th:block>
</body>
</html>