/* Hide all steps by default: */
.tab {
    display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.step.active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
    background-color: #28a745;
}

/* disallow pointer events like click on span elements inside a button*/
button > span{
    pointer-events: none;
}

/*Note: jQuery validation applies the error class to both the input that is validated and the error message
        so in-order to correct the effect of applying invalid-feedback(declared in bootstrap with display none) on input this class is needed */
/*class to apply for input with invalid feedback class*/
input.form-control.invalid-feedback {
    display: block;
    margin-top: 0;
}
/*styling for table of offence-codes */
#offenceCodes th{
    font-weight: 400;
}

#offenceCodes.table thead th{
    border-bottom: none;
    padding: 0;
}

#offenceCodes.table td, #offenceCodes.table th{
    border-top: none;
    padding-left: 0;
    padding-top: 0;
}