<!DOCTYPE html>
<html class="no-js h-100" lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(title,links,header_scripts,page_header,content,footer_scripts)">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="description" content="A high-quality &amp; free Bootstrap admin dashboard template pack that comes with lots of templates and components.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title th:replace="${title}">Shards Dashboard Lite - Free Bootstrap Admin Template – DesignRevision</title>
    <!-- Common CSS -->
    <link rel="stylesheet" href="../static/vendor/fontawesome/css/fontawesome-all.min.css" th:href="@{/vendor/fontawesome/css/fontawesome-all.min.css}">
    <link rel="stylesheet" href="../static/vendor/material-icons/css/material-icons.css" th:href="@{/vendor/material-icons/css/material-icons.css}">
    <link rel="stylesheet" href="../static/vendor/bootstrap/css/bootstrap.min.css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/libs/css/shards-dashboards.1.1.0.min.css" th:href="@{/libs/css/shards-dashboards.1.1.0.min.css}" id="main-stylesheet" data-version="1.1.0">
    <link rel="stylesheet" href="../static/libs/css/extras.1.1.0.min.css" th:href="@{/libs/css/extras.1.1.0.min.css}">

    <!--/* Per-page placeholder for additional links */-->
    <!--/*/ <th:block th:replace="${links}"></th:block> /*/-->
    
    <!--/* Per-page placeholder for header scripts */-->
    <!--/*/ <th:block th:replace="${header_scripts}"></th:block> /*/-->
</head>

<body class="h-100">
    <div class="container-fluid">
        <div class="row">
            <!-- Main Sidebar -->
            <aside class="main-sidebar col-12 col-md-3 col-lg-2 px-0">
                <div class="main-navbar">
                <nav class="navbar align-items-stretch navbar-light bg-white flex-md-nowrap border-bottom p-0">
                    <a class="navbar-brand w-100 mr-0" href="#" style="line-height: 25px;">
                        <div class="d-table m-auto">
                            <!--<img id="main-logo" class="d-inline-block align-top mr-1" style="max-width: 25px;" src="#" alt="">-->
                            <span class="d-none d-md-inline ml-1">OMS Dashboard</span>
                        </div>
                    </a>
                    <a class="toggle-sidebar d-sm-inline d-md-none d-lg-none">
                        <i class="material-icons">&#xE5C4;</i>
                    </a>
                </nav>
            </div>
                <form action="#" class="main-sidebar__search w-100 border-right d-sm-flex d-md-none d-lg-none">
                <div class="input-group input-group-seamless ml-3">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                    <i class="fas fa-search"></i>
                    </div>
                </div>
                <input class="navbar-search form-control" type="text" placeholder="Search for something..." aria-label="Search">
                </div>
            </form>
                <div class="nav-wrapper">
                    <ul class="nav flex-column" id="pages">
                        <li class="nav-item" data-page="offence">
                            <a class="nav-link active" href="#offence-submenu" data-toggle="collapse">
                                <i class="material-icons">description</i>
                                <span th:text="#{offence}">Offence</span>
                            </a>
                            <div id="offence-submenu" class="collapse show">
                                <ul class="nav flex-column">
                                    <li class="nav-item" data-page="list-offences">
                                        <a class="nav-link pl-5" href="offence/list.html" th:href="@{/offence}">
                                            <i class="material-icons">list</i>
                                            <span th:text="#{offence.list}">Offences</span>
                                        </a>
                                    </li>
                                    <li class="nav-item" data-page="add-offence">
                                        <a class="nav-link pl-5" href="offence/form.html" th:href="@{/offence/create}">
                                            <i class="material-icons">note_add</i>
                                            <span th:text="#{new.offence}">New Offence</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item" data-page="drivers">
                            <a class="nav-link" href="offender/driver/list.html" th:href="@{/drivers}">
                                <i class="material-icons">person</i>
                                <span th:text="#{drivers}">Drivers</span>
                            </a>
                        </li>
                        <li class="nav-item" data-page="offence-codes">
                            <a class="nav-link" href="offence-code/list.html" th:href="@{/offence-codes}">
                                <i class="material-icons">person</i>
                                <span th:text="#{offence.codes}">Offence Codes</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </aside>
            <!-- End Main Sidebar -->
            <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
                <div class="main-navbar sticky-top bg-white">
                    <!-- Main Navbar -->
                    <nav class="navbar align-items-stretch navbar-light flex-md-nowrap p-0">
                        <form action="#" class="main-navbar__search w-100 d-none d-md-flex d-lg-flex">
                            <div class="input-group input-group-seamless ml-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fas fa-search"></i>
                                    </div>
                                </div>
                                <input class="navbar-search form-control" type="text" placeholder="Search for something..." aria-label="Search">
                            </div>
                        </form>
                        <ul class="navbar-nav border-left flex-row ">
                            <!--<li class="nav-item border-right dropdown notifications">-->
                                <!--<a class="nav-link nav-link-icon text-center" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                                    <!--<div class="nav-link-icon__wrapper">-->
                                        <!--<i class="material-icons">&#xE7F4;</i>-->
                                        <!--<span class="badge badge-pill badge-danger">2</span>-->
                                    <!--</div>-->
                                <!--</a>-->
                                <!--<div class="dropdown-menu dropdown-menu-small" aria-labelledby="dropdownMenuLink">-->
                                    <!--<a class="dropdown-item" href="#">-->
                                        <!--<div class="notification__icon-wrapper">-->
                                            <!--<div class="notification__icon">-->
                                                <!--<i class="material-icons">&#xE6E1;</i>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                        <!--<div class="notification__content">-->
                                            <!--<span class="notification__category">Analytics</span>-->
                                            <!--<p>Your website’s active users count increased by <span class="text-success text-semibold">28%</span> in the last week. Great job!</p>-->
                                        <!--</div>-->
                                    <!--</a>-->
                                    <!--<a class="dropdown-item" href="#">-->
                                        <!--<div class="notification__icon-wrapper">-->
                                            <!--<div class="notification__icon">-->
                                                <!--<i class="material-icons">&#xE8D1;</i>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                        <!--<div class="notification__content">-->
                                            <!--<span class="notification__category">Sales</span>-->
                                            <!--<p>Last week your store’s sales count decreased by <span class="text-danger text-semibold">5.52%</span>. It could have been worse!</p>-->
                                        <!--</div>-->
                                    <!--</a>-->
                                    <!--<a class="dropdown-item notification__all text-center" href="#"> View all Notifications </a>-->
                                <!--</div>-->
                            <!--</li>-->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-nowrap px-3" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                    <img class="user-avatar rounded-circle mr-2" src="../static/images/avatar.png" th:src="@{/images/avatar.png}" alt="User Avatar">
                                    <span class="d-none d-md-inline-block">Sierra Brooks</span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-small">
                                    <a class="dropdown-item" href="#"><i class="material-icons">&#xE7FD;</i> Profile</a>
                                    <!--<a class="dropdown-item" href="#"><i class="material-icons">vertical_split</i> Blog Posts</a>-->
                                    <!--<a class="dropdown-item" href="#"><i class="material-icons">note_add</i> Add New Post</a>-->
                                    <div class="dropdown-divider">
                                    </div>
                                    <a class="dropdown-item text-danger" href="#">
                                        <i class="material-icons text-danger">&#xE879;</i> Logout
                                    </a>
                                </div>
                            </li>
                        </ul>
                        <nav class="nav">
                            <a href="#" class="nav-link nav-link-icon toggle-sidebar d-md-inline d-lg-none text-center border-left" data-toggle="collapse" data-target=".header-navbar" aria-expanded="false" aria-controls="header-navbar">
                                <i class="material-icons">&#xE5D2;</i>
                            </a>
                        </nav>
                    </nav>
                    <!-- End Main Navbar -->
                </div>
                <div class="main-content-container container-fluid px-4">
                    <!-- Page Header -->
                    <div class="page-header row no-gutters py-4 mb-3 border-bottom">
                        <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                            <!--<span class="text-uppercase page-subtitle">Overview</span>-->
                            <h3 class="page-title" th:insert="${page_header}">Page Header</h3>
                        </div>
                    </div>
                    <!-- End Page Header -->
                    <div class="row">
                        <div class="col-lg-12 mb-4">
                            <div class="card card-small mb-4">
                                <!--<div class="card-header border-bottom">-->
                                    <!--<h6 class="m-0">Form Inputs</h6>-->
                                <!--</div>-->
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item p-0 px-3 py-3">
                                        <div class="row">

                                            <div class="container-fluid" th:insert="${content}">
                                                <!-- Content -->
                                                <h6>Content goes here!</h6>
                                                <!-- / End Content -->
                                            </div>

                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="main-footer d-flex p-2 px-3 bg-white border-top">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                    </ul>
                    <!-- TODO: Change or remove Copyright -->
                    <span class="copyright ml-auto my-auto mr-2">Copyright © 2018 <a href="https://designrevision.com" rel="nofollow">DesignRevision</a></span>
                </footer>
            </main>
        </div>
    </div>
    
    <!-- Common JavaScript -->
    <script src="../static/vendor/jquery/jquery-3.3.1.min.js" th:src="@{/vendor/jquery/jquery-3.3.1.min.js}"></script>
    <script src="../static/vendor/popper/popper.min.js" th:src="@{/vendor/popper/popper.min.js}"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.min.js" th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
    <script src="../static/vendor/chart/Chart.min.js" th:src="@{/vendor/chart/Chart.min.js}"></script>
    <script src="../static/libs/js/shards.min.js" th:src="@{/libs/js/shards.min.js}"></script>
    <script src="../static/vendor/sharrre/jquery.sharrre.min.js" th:src="@{/vendor/sharrre/jquery.sharrre.min.js}"></script>
    <script src="../static/libs/js/extras.1.1.0.min.js" th:src="@{/libs/js/extras.1.1.0.min.js}"></script>
    <script src="../static/libs/js/shards-dashboards.1.1.0.min.js" th:src="@{/libs/js/shards-dashboards.1.1.0.min.js}"></script>
    <script src="../static/libs/js/app/app-components-overview.1.1.0.min.js" th:src="@{/libs/js/app/app-components-overview.1.1.0.min.js}"></script>

    <!-- Per page placeholder for footer scripts -->
    <!--/*/ <th:block th:insert="${footer_scripts}"></th:block> /*/-->

    <script>
        var templateToPageMap = {
            "offence-list" : "list-offences",
            "offence-form" : "add-offence",
            "offence-show" : "offence",
            "offence-status" : "offence",
            "driver-list" : "drivers",
            "offender-offence-list" : "offence",
            "offence-code-list" : "offence-codes"
        };
        var template = $("#page-header").attr("data-template");
        var page = templateToPageMap[template];
        var pageSelector = "li[data-page='" + page + "']";
        var pages = $("#pages");
        pages.find("a").removeClass("active");
        var currentPage = pages.find(pageSelector);
        currentPage.children("a").addClass("active");
    </script>

</body>
</html>